version: '3.8'

services:
  llm_chatbot_app:
    build: .
    ports:
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - chroma_data:/app/chroma_data
    restart: unless-stopped

volumes:
  chroma_data: